.mdl-textfield, .mdlext-selectfield {
  width: 100%;
}

a.mdl-navigation__link {
  cursor: pointer;
}

.mdl-grid--no-stretch {
  align-items: flex-start;
}

.helper-modal-button--close {
  float: right;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  >li {
    &:not(:first-child) {
      padding-top: 16px;
    }
    padding-bottom: 16px;
    display: flex;
    color: rgba(0,0,0,.87);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
  }

  .expanded, .condensed {
    width: 100%;
  }

  &__item {
    line-height: 20px;
  }

  &__item-title {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .04em;
  }

  &__item-subtitle {
    display: block;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0,0,0,.54);
  }
}

.about-page {
  max-width: 900px;
}

.double-inputfields {
  display: flex;
  margin-left: -8px;
  margin-right: -8px;
  align-items: center;

  >* {
    margin-left: 8px;
    margin-right: 8px;
  }
}

.input-group {
  // width: 100%;
  margin-left: 0;
  margin-right: 0;
  display: flex;

  >* {
    margin-left: 8px;
    margin-right: 8px;
  }

  &--right {
    justify-content: flex-end;
  }
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }